[Unit]
Description=Docker Registry %i
After=docker.service
Requires=docker.service
[Service]
Restart=on-failure
RestartSec=100s
TimeoutStartSec=0
Environment=BASEDIR=/data/apps/docker_registry
# Environment=DATADIR=data
# Environment=CERTDIR=certs
# Environment=ENVFILE=registry_docker.env
ExecStartPre=-/usr/bin/docker kill %i
ExecStartPre=-/usr/bin/docker rm %i
# ExecStartPre=/usr/bin/docker pull registry:2
ExecStart=/usr/bin/docker run -p 443:5000 -v ${BASEDIR}:/opt/registry --env-file ${BASEDIR}/registry_docker.env --name %i registry:2
ExecStop=/usr/bin/docker kill %i
[X-Fleet]
# Don't schedule on the same machine as other registry instances
Conflicts=%p@*.service
#MachineID=72f6e393
